@charset "utf-8";   /* コードの文字化けを防ぐ */

/* --- 共通部分 --- */
html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #211b18
}
a {
    text-decoration: none; /*タグの傍線の指定*/
}
img {
    max-width: 100%;
}

/* --- HEADER --- */
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav {
    display: flex; /*<li>タグを横並びに*/
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #ffffff;
}
.main-nav a:hover {
    /*マウスのカーソルが上に来た場合*/
    color: #0bd;
}
.page-header {
    display: flex; /*ロゴとナビゲーションメニューを横並びに*/
    justify-content: space-between; /*両端に設置*/
}
.wrapper {
    max-width: 1100px; /*最大横幅*/
    margin: 0 auto; /*中央に配置する指定*/
    padding: 0 4%; /*スマートフォン用の余白*/
}

/* --- HOME --- */
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/*見出し*/
.page-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #47763c;
}

.page-comment {
    color: #47763c;
}

/*ボタン*/
.button {
    font-size: 1.375rem;
    background: #009bc6;
    color: #ffffff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}

/*大きな画像*/
.big-bg {
    background-size: cover; /*画像の縦横比を保ったまま画面いっぱいに広げる*/
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url(./start.png);
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}

/* --- menu --- */
#menu {
    background-image: url(./menu.png);
    /* min-height: 100vh; */
    height: 350px;
    margin-bottom: 40px;
}

.menu-content {
    text-align: center;
    max-width: 560px;
    margin-top: 2%;
}
.menu-content .page-title{
    color: #ffffff;
}
.menu-content .page-comment {
    color: #ffffff;
}
.menu-content .list {
    margin-top: 50px;
    text-align: left;
    display: inline-block;
    list-style: square;
    font-size: 2rem;
    text-transform: uppercase;
    color: #7acbe1;
}
#menu .list a {
    color: #7acbe1;
}
#menu .list a:hover {
    color: #99cc65;
}
#menu .list p {
    color: #ffffff;
    font-size: 1.25rem;
    text-transform: none;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 1%;
    margin-bottom: 50px;
}
.big-box {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.big-box img {
    height: 95%;
    width: 100%;
    object-fit: cover;
}
.item {
    position: relative;
}
.item a {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: #009bc6;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration:underline;/*下線を引く*/
    text-decoration-color:#009bc6;/*下線を赤色*/
}
.item a:hover {
    color: #99cc65;
    text-decoration-color:#99cc65;/*下線を赤色*/
}
.item p {
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    color: #009bc6;
}

/* --- python etc --- */
#study {
    background-image: url(./study.png);
    height: 270px;
    margin-bottom: 40px;
}

#study .page-title{
    text-align: center;
}

aside {
    width: 22%;
    order: 2;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0090aa solid;
    font-weight: normal;
}

.sub-title-2nd {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #99cc65 solid;
    font-weight: normal;
}

aside p {
    padding: 12px 10px;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px #ddd solid
}
.sub-menu a {
    color: #211b18;
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: #0bd;
}
.prog {
    color: #ffffff;
    /* background: #000000; */
}

article {
    width: 74%;
    order: 1;
}

.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.post-date {
    background: #0090aa;
    border-radius: 50%;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title, .post-cat {
    margin-left: 120px;
}

article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}

.image_beside {
    display:flex;
    align-items: center;
    gap: 10px;
}
/* .image-beside>div {
    width: 10%;
} */

.study-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* --- code --- */
code {
    display: inline-block;
    padding: 0.1em 0.25em; /* 文字周りの余白 */
    /*color: #444;*/ /* 文字色 */
    background-color: #000000; /* 背景色 */
    border-radius: 3px; /* 角丸 */
    /*border: solid 1px #d6dde4;*/ /* 枠線 */
    margin-bottom: 1rem;
    width: 100%;
}

/* --- footer --- */
footer {
    background: #211b18;
    text-align: center;
    padding: 26px 0;
}
footer p{
    color: #ffffff;
    font-size: 0.875rem;
}

/* --- レスポンシブ対応 --- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* MENU */
    .big-box {
        grid-column: auto;
        grid-row: auto;
    }
    .big-box img {
        height: 100%;
    }

    /* STUDY */
    .study-contents {
        flex-direction: column;
    }
    article, aside {
        width: 100%;
    }

    #study .page-title {
        margin-top: 30px;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title, .post-cat {
        margin-left: 80px;
    }

    code {
        font-size: 0.5rem;
    }
}